body{
    font-family:Arial, sans-serif;
    background:#111827;
    color:white;
    display:flex;
    justify-content:center;
    padding:40px;
}

.container{
    width:500px;
    background:#1f2937;
    padding:20px;
    border-radius:12px;
}

h1{
    text-align:center;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

#workBtn{
    font-size:20px;
}
